<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Portfolio</title>
    <link rel="stylesheet" type="text/css" href="portfoliostyle.css">
    <link rel="stylesheet" type="text/css" href="portfoliomedia.css">
</head>

<body>

    <section class="intro">
        <div class="inner">
            <div class="content">

                    <div id="nav">
                        
                            <a class="navbtn" href="index.html">Home</a> 
                            <a class="navbtn" href="about.html">About Me</a> 
                            <a class="navbtn" href="music.html">Music</a>
                            <a class="navbtn" href="contact.html">Contact</a>  
                        </div>

                <h1>Portfolio</h1>
                    
                <ul class="site-list">
                    <h3>Websites</h3>
                    <li class="site" id="dsesite"><a href="https://swedishgoodbye.github.io/DeadSplitEgos/index.html" target="_blank"><img src="deadpreview.jpg" class="site"/><br>Dead Split Egos (In Progress)</a><Dead Split Egos</li>
                    <li class="site" id="dbsite"><a href="http://deadboymansion.tk" target="_blank"><img src="deadboypreview.jpg" class="site"/><br>Deadboy Mansion</a></li>
                </ul>

            </div>
        </div>
    </section>
    
</body>
</html>
