.contact-page{
    /* height: 980px; */
    height: 91.5vh;
    padding: 1%;
    display: flex;
    flex-direction: column;
    background: #1E3D5A;
}

/* .contact-header{
    font-family: 'Raleway', sans-serif;
    color: #D0D0D0; */
    /*text-shadow: 0px 0px 200px #000;*/
    /* font-size: 800%;
    margin-right: 32px;
    margin-bottom: 0px;
    margin-top: 30px;
    text-align: center;
} */

.contact-title{
    text-align: center;
    margin-right: 0%;
    font-family: 'Raleway', sans-serif;
    font-size: 5vw;
    color: rgb(164, 152, 136);
    background: rgb(0, 19, 37);
    margin-top: 0%;
    padding: 2% 0;
    border: 5px solid rgb(164, 152, 136);
}

.inner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-form{
    display: flex;
    justify-content: center;
    height: 40vh;
    width: 90vw;

}

.contact-form-components{
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 70vw;
    height: 100%;
}

.contact-form-components input{
    margin-bottom: 1%;
    height: 15%;
}

.contact-form-components a{
    margin: 2% 0 4%;
    background: rgb(0, 19, 37);
    color: rgb(164, 152, 136);
    width: 20%;
    padding: 2% 0%;
    padding-right: .5%;
    text-align: center;
    border: 5px solid rgb(164, 152, 136);
    font-weight: 600;

}

.contact-form-components a:hover{
    background: rgb(86, 124, 140);
    color: rgb(164, 152, 136);
    transition: all 0.3s ease;
}
/* .contact-form-components textarea{
    height: 50%;
} */

.contactlist {
    
    opacity: .70;
    font-family: 'Oswald', sans-serif;
    font-size: 5vw;
    font-weight: 900;
    text-align: center;
    text-decoration: none;
    border-style: solid;
    border-width: 10px;
    color: rgb(164, 152, 136);
    background: rgb(0, 19, 37);
    border: 8px solid rgb(164, 152, 136);
    padding: .5%;
    width: 75vw;
    margin-top: 10%;
   
}

/* .contactlist a{
    text-decoration: none;
    color: 
} */

.contact-linked{
    opacity: .8;
    width: 25vw;
}

.contact-linked:hover{
    opacity: 1;
}

a{
    color: rgb(164, 152, 136);
}

a:hover {

    color: rgb(255, 255, 255);
}


#webcell{
    text-decoration: none;
}

#mobilecell{
    display: none;
}
