@import url('https://fonts.googleapis.com/css?family=Raleway');

@import url('https://fonts.googleapis.com/css?family=Oswald');

html, body{
    margin: 0;
    padding: 0;
    height: 100%; 
    /* width: 100%;  */
}

.App{
    background: rgb(0, 19, 37);
    font-family: 'Raleway', sans-serif;
    width: 100%;
}

/* .tempNav{
    position: fixed; */
    /* bottom: 0; */
    /* width: 100%;
}

.main{
    margin-bottom: 30px;
} */

/* 
.App {
    height: 1014px;
    width: 100%;
    /* margin: auto; */
    /* background: url('./media/IMG_0056.JPG'); */
    /* background-repeat: no-repeat; */
    /* background-position: center; */
    /* display: table; */
    /* top: 0; */
    /* background-size: 100% 145%; */
    /* overflow: hidden; */
    
    
    

    
    .main {
        /* padding: 16px; */
        padding-top: 1px;
        margin-bottom: 50px;
        height: 2168px; /* Used in this example to enable scrolling */
        /* width: 100%; */
    }
    
    .main-item{
        margin: .5% 0; 
    }