body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: rgb(164, 152, 136);
  
}

#root{
  max-width: 100%;
}

/* ---------------------------------------------------  Landing Page  --------------------------------------------------- */

@keyframes bgAnim{
  from {background-position-y: 0%;}
  to {background-position-y: 100%;}
}

@keyframes textAnim{
  from {color: rgb(178, 188, 189);}
  to {color: rgb(41, 66, 88);}
 
}

@keyframes bordAnim{
  from {border-color: rgb(0, 19, 37);}
  to {border-color: rgb(207, 230, 252);}
}

.front-page{
  height: 100vh;
  background: url('./media/IMG_0056.JPG');
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  animation: bgAnim 140s infinite alternate linear;
  }


.front-text {
  /* padding-top: 0%; */
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-size: 400%;
  border-bottom: 5px solid;
  opacity: .9;
  animation: textAnim 140s infinite alternate linear, bordAnim 140s infinite alternate linear;
  transition: all 0.5s ease;
  /* align-self: center; */
  }

  .nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-line-pack: center;
    align-content: center;
    -ms-flex-pack: space-evenly;
    /* justify-content: space-around; */
    /* padding-bottom: 25vh; */
    height: 40vh;
    justify-content: space-evenly;
  }

  .nav-item{
    /* margin: .4vw; */
    padding: 2%;
    cursor: pointer;
    border: 2px solid;
    font-size: 140%;
    width: 100%;
    color: rgb(136, 182, 190);
    text-align: center;


  }
