.portfolio-page{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-content: center;
}

.portfolio-display{
    background: rgba(0, 19, 37, 0.733);
    width: 85vw;
    height: 80vh;
    align-self: center;
    border: 3px solid rgba(207, 230, 252, 0.685);
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: .5vw;
}

.portfolio-page-exit{
    opacity: .7;
    color: rgb(255, 254, 254);
    padding: 0 0 0 .5vw;
    width: 2%;
}

.portfolio-page-exit:hover{
    opacity: .9;    
}

.portfolio-display-inner{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 75vh;
    opacity: .8;
}

.portfolio-display-arrow-left{
    width: 0; 
    height: 0; 
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid rgb(207, 230, 252);
    cursor: pointer;
    text-shadow: 0px 0px 10px rgb(170, 228, 238);
}

.portfolio-display-arrow-left:hover{
    border-right-color: rgb(246, 250, 253);
}

.portfolio-projects{
    border: 1px solid rgba(207, 230, 252, 0.685);
    width: 75vw;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-content: flex-start;
    flex-direction: row;
    box-shadow: 0px 0px 20px rgb(170, 228, 238);
}

.project-thumbnail{
    width: 30vw;
    height: 5vw;
    margin: 1vh 2vw;
    cursor: pointer;
}

.project-link{
    display: flex;
    align-content: center;
    justify-content: center;
}

.project-img{
    width: 30vw;
    height: 15vh;
    opacity: 1;
    box-shadow: 0px 0px 10px rgb(170, 228, 238);
}

.project-img:hover{
    opacity: .8;
    box-shadow: 0px 0px 15px rgb(170, 228, 238);
}

.project-modal {
    position: absolute;
    top: 5.2vh;
    left: 5.52vw;
    right: 40px;
    background: rgba(00, 19, 37);
    width: 75vw;
    height: 69.9vh;
    border: 3px solid rgba(207, 230, 252, 0.685);
  }
  
.project-overlay {
    position: fixed;
    top: 10vh;
    left: 7vw;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 19, 37);
    height: 80vh;
    width: 86vw;
  }

.project-modal:focus {
    outline: 0;
}

.modal-exit{
    opacity: .7;
    color: rgb(255, 254, 254);
    padding: .5vw 0 0 1vw;
    width: 1.2%;
    margin: 0;
    cursor: pointer;
    
}

.modal-exit:hover{
    opacity: .9;
}

.modal-content{
    display: flex;
    align-content: space-between;
    justify-content: space-evenly;
    flex-direction: column;
    width: 75vw;
    height: 60vh;
}

.modal-img{
    width: 55vw;
    height: 15vh;
    opacity: .8;
}

.modal-title{
    color: white;
}

.project-name{
    text-align: center;
    font-family: 'Raleway', sans-serif;
    color: rgb(255, 254, 254);
    font-size: 200%;
}

.project-description{
    color: rgb(255, 254, 254);
    font-family: 'Raleway', sans-serif;
    padding: 0 5%;
    text-decoration: underline;
    font-size: 120%;
    text-align: center;
}

.project-stack{
    display: flex;
    align-items: center;
    flex-direction: column;
    color: rgb(255, 254, 254);
    font-family: 'Raleway', sans-serif;
    font-size: 120%;
}

.portfolio-display-arrow-right{
    width: 0; 
    height: 0; 
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid rgb(207, 230, 252);
    cursor: pointer;
}

.portfolio-display-arrow-right:hover{
    border-left-color: rgb(246, 250, 253);
}


